
.jumbotron {
    
/*    background-color: coral;*/
    background-image: url("bt.assets/stockholm.jpg");
    background-position:center;
    color: #fff; /*text color*/
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
    width: auto;
    height: 350px;;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 0px;  
}
